DB_USER=postgres
DB_HOST=localhost
DB_NAME=permalist
DB_PASSWORD=postgres
DB_PORT=5432
DATABASE_URL = postgresql://todo_db_2ra4_user:7coxOcjJhg2LUvuz4Vi8ksz2zE6zOKSK@dpg-d6bvm74r85hc73dpqbn0-a.oregon-postgres.render.com/todo_db_2ra4
